.category-list {
  font-size: 25px;
}
.category-record {
  font-size: 17px;
  margin-bottom: 30px;

  .category-record-divider {
    width: 200px;
    border-bottom: 1px solid #eee;
    margin: 0 auto;
    padding-top: 15px;
  }
}
